#root{

    min-height:100vh;

}

.app-container{

    width:100%;

    min-height:100vh;

    display:flex;

    flex-direction:column;

}

.page-container{

    width:100%;

    max-width:1400px;

    margin:auto;

    padding:32px;

    flex:1;

}

.page-title{

    font-size:42px;

    font-weight:700;

    margin-bottom:10px;

}

.page-subtitle{

    color:#64748B;

    margin-bottom:30px;

}